body
    

img
    margin: 5px
    padding: 25px

.uppercase
    text-transform: uppercase

.txt-sz
    font-size: 23px

.color
    color: #A92D3A

header
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/banner1.jpg')
    background-size: cover
    height: 900px
    

    .container
        display: flex
        justify-content: center
        
        
        
    ul
        list-style: none
        border-top: white solid 1px
        border-bottom: white solid 1px
        display: flex
        justify-content: center
        
        
        
        li
            color: white
            text-transform: uppercase

.text
    font-family: 'Courgette', cursive
    color: white

.text1
    font-family: 'Courgette', cursive
    color: black


.bts
    background-color: white
    border: transparent
    border-radius: 15px
    padding: 10px
    text-transform: uppercase
    margin: 10px

.bts1
    background-color: #AF2B39
    color: white
    border: transparent 
    border-radius: 15px
    padding: 10px
    text-transform: uppercase
    margin: 10px

.center-pos
    text-align: center
    
---->  PART II <-----

.borderchef
    border-top: white solid 1px
