.uppercase {
  text-transform: uppercase;
}

.txt-sz {
  font-size: 23px;
}

.color {
  color: #A92D3A;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/banner1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/banner1.jpg");
  background-size: cover;
  height: 900px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul {
  list-style: none;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header ul li {
  color: white;
  text-transform: uppercase;
  margin: 10px;
}

.bts {
  background-color: white;
  border: transparent;
  border-radius: 25px;
  padding: 10px;
  text-transform: uppercase;
  margin: 10px;
}

.bts1 {
  background-color: #AF2B39;
  color: white;
  border: transparent;
  border-radius: 25px;
  padding: 15px;
  text-transform: uppercase;
  margin: 10px;
}

.price {
  border: transparent;
  padding: 5px 20px 5px 20px;
  font-weight: 700;
  background-color: #F1E3E5;
  text-transform: uppercase;
  color: #AF2B39;
}

.text {
  font-family: 'Courgette', cursive;
  color: white;
}

.text1 {
  font-family: 'Courgette', cursive;
  color: black;
}

.center-pos {
  text-align: center;
}

.lorem-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderchef {
  border-top: white solid 1px;
}

.title {
  margin: 15px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}

.title2 {
  border: black solid 1px;
  margin: 45px 0px 45px 0px;
  padding: 45px 0px 45px 0px;
}

.title3 {
  margin: 45px 0px 0px 0px;
  padding: 55px 0px 0px 0px;
}

.chef-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/team_background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/team_background.jpg");
  background-size: cover;
  height: 900px;
}

.table-bg {
  background: url("../img/book_table_bg.jpg");
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 10px;
  max-width: 750px;
}

.txt-white {
  color: white;
}

.number {
  font-weight: 700;
}

.img-menu {
  border: grey solid 1px;
  border-radius: 10px;
  height: 250px;
  width: 350px;
}

.txt-blog {
  background-color: #AF2B39;
  border: transparent;
  border-radius: 10px;
  color: white;
  padding: 15px;
  margin: 5px;
}

.bg-testi {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/testimonials_background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/testimonials_background.jpg");
  background-size: cover;
  height: 600px;
}

.border-testi {
  border: white solid 5px;
  border-radius: 50px;
}

.border-testi-text {
  border: white solid 1px;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.border-contact {
  background-color: #AF2B39;
  border: black solid 1px;
}
/*# sourceMappingURL=style.css.map */